@charset "UTF-8";
/*  palettes */
/*MainTheme*/
.paletteColor1 {
  fill: red; }

.paletteColor2 {
  fill: #3FB8AF; }

.paletteColor3 {
  fill: #00B4CC; }

.navColor {
  border: 5px solid #111111; }

.navColor2 {
  border: 5px solid #FFDC00; }

.mainFill {
  fill: #FFFFFF; }

.secondFill {
  fill: #111111; }

.thirdFill {
  fill: #FFDC00; }

.secondStroke {
  fill: none;
  stroke: #111111;
  stroke-width: 5;
  stroke-miterlimit: 10; }

.secondStrokeIcon {
  fill: #FFFFFF;
  stroke: #111111;
  stroke-width: 1;
  stroke-miterlimit: 10; }

.thirdStroke {
  fill: none;
  stroke: #FFDC00;
  stroke-width: 5;
  stroke-miterlimit: 10; }

.expOpacity {
  opacity: 0.8;
  fill: #111111; }

.fontColor {
  color: #111111; }

.spanColor {
  color: #FFDC00; }

@-webkit-keyframes pulsate {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1.0; } }

@keyframes pulsate {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1.0; } }

/*Themes*/
.uiColorWhite {
  background-color: black;
  border-left: 10px solid white;
  border-right: 10px solid white;
  /*  Sobre */
  /*  Experiência */
  /*  Habilidades */
  /*  Portfolio */ }
  .uiColorWhite:before {
    background: white; }
  .uiColorWhite:after {
    background: white; }
  .uiColorWhite::-webkit-scrollbar-track {
    background: black; }
  .uiColorWhite::-webkit-scrollbar-thumb {
    background: red; }
  .uiColorWhite .navColor {
    border: 5px solid white; }
  .uiColorWhite .navColor2 {
    border: 5px solid red; }
  .uiColorWhite .mainFill {
    fill: black; }
  .uiColorWhite .secondFill {
    fill: white; }
  .uiColorWhite .thirdFill {
    fill: red; }
  .uiColorWhite .expOpacity {
    opacity: 0.8;
    fill: white; }
  .uiColorWhite .secondStroke {
    stroke: white; }
  .uiColorWhite .secondStrokeIcon {
    fill: black;
    stroke: white; }
  .uiColorWhite .thirdStroke {
    stroke: red; }
  .uiColorWhite .fontColor {
    color: white; }
  .uiColorWhite .spanColor {
    color: red; }
  .uiColorWhite .paletteNav {
    border: 3px solid white; }
    .uiColorWhite .paletteNav:before {
      border-right: 3px white solid;
      border-left: 21px black solid; }
    .uiColorWhite .paletteNav:after {
      border-left: 3px white solid;
      border-right: 21px black solid; }
  .uiColorWhite ::selection {
    background: red;
    /* WebKit/Blink Browsers */
    color: black; }
  .uiColorWhite ::-moz-selection {
    background: red;
    /* Gecko Browsers */
    color: black; }
  .uiColorWhite .titleLeft {
    text-shadow: 3px 3px red; }
  .uiColorWhite .titleRight {
    text-shadow: -3px 3px red; }
  .uiColorWhite .menuItem:hover {
    background: white;
    color: black; }
  .uiColorWhite .dropMenu {
    background-color: black;
    border-left: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 4px solid white; }
  .uiColorWhite a {
    color: white; }
  .uiColorWhite .linkedinLink:hover > .secondFill {
    fill: black; }
  .uiColorWhite .sobreText {
    border: 5px solid white; }
  .uiColorWhite .expBox {
    border: 4px solid white; }
  .uiColorWhite .expBox:after {
    border-left: 4px white solid;
    border-right: 41px black solid; }
  .uiColorWhite .outerCircle {
    fill: red; }
  .uiColorWhite .innerCircle {
    fill: black; }
  .uiColorWhite .expSvg {
    border: 4px solid red; }
  .uiColorWhite .habiInfo {
    border-left: solid 5px red;
    border-right: solid 5px red; }
    .uiColorWhite .habiInfo:before {
      border-top: solid 7.0711px red;
      border-right: solid 7.0711px red; }
    .uiColorWhite .habiInfo:after {
      border-bottom: solid 7.0711px red;
      border-left: solid 7.0711px red; }
  .uiColorWhite .portBox {
    background: white;
    box-shadow: 8px 8px 0 red; }
  .uiColorWhite .portBox::before {
    background-color: black; }
  .uiColorWhite .portBox::after {
    border-left: 10px red solid;
    border-right: 50px black solid;
    background-color: black; }
  .uiColorWhite .portTitle {
    color: black; }
  .uiColorWhite .portText {
    color: black; }
  .uiColorWhite .portAcess {
    color: red; }
  .uiColorWhite .portAcess:hover {
    color: white;
    background-color: red; }
  .uiColorWhite .portLink:hover > .secondStroke {
    fill: white;
    stroke: white; }
  .uiColorWhite .portLink:hover > .secondFill {
    fill: black; }
  .uiColorWhite .portSvg:first-child {
    border-right: 5px solid red; }
  @media screen and (max-width: 950px) {
    .uiColorWhite .menuItem {
      background-color: black;
      box-shadow: 0px -3px 0 red; }
    .uiColorWhite .navColor {
      border-top: 5px solid white;
      border-right: none;
      border-left: none; } }

.uiColorTurquoise {
  background-color: #1E1E1E;
  border-left: 10px solid #3FB8AF;
  border-right: 10px solid #3FB8AF;
  /*  Sobre */
  /*  Experiência */
  /*  Habilidades */
  /*  Portfolio */ }
  .uiColorTurquoise:before {
    background: #3FB8AF; }
  .uiColorTurquoise:after {
    background: #3FB8AF; }
  .uiColorTurquoise::-webkit-scrollbar-track {
    background: #1E1E1E; }
  .uiColorTurquoise::-webkit-scrollbar-thumb {
    background: #FF3D7F; }
  .uiColorTurquoise .navColor {
    border: 5px solid #3FB8AF; }
  .uiColorTurquoise .navColor2 {
    border: 5px solid #FF3D7F; }
  .uiColorTurquoise .mainFill {
    fill: #1E1E1E; }
  .uiColorTurquoise .secondFill {
    fill: #3FB8AF; }
  .uiColorTurquoise .thirdFill {
    fill: #FF3D7F; }
  .uiColorTurquoise .expOpacity {
    opacity: 0.8;
    fill: #3FB8AF; }
  .uiColorTurquoise .secondStroke {
    stroke: #3FB8AF; }
  .uiColorTurquoise .secondStrokeIcon {
    fill: #1E1E1E;
    stroke: #3FB8AF; }
  .uiColorTurquoise .thirdStroke {
    stroke: #FF3D7F; }
  .uiColorTurquoise .fontColor {
    color: #3FB8AF; }
  .uiColorTurquoise .spanColor {
    color: #FF3D7F; }
  .uiColorTurquoise .paletteNav {
    border: 3px solid #3FB8AF; }
    .uiColorTurquoise .paletteNav:before {
      border-right: 3px #3FB8AF solid;
      border-left: 21px #1E1E1E solid; }
    .uiColorTurquoise .paletteNav:after {
      border-left: 3px #3FB8AF solid;
      border-right: 21px #1E1E1E solid; }
  .uiColorTurquoise ::selection {
    background: #FF3D7F;
    /* WebKit/Blink Browsers */
    color: #1E1E1E; }
  .uiColorTurquoise ::-moz-selection {
    background: #FF3D7F;
    /* Gecko Browsers */
    color: #1E1E1E; }
  .uiColorTurquoise .titleLeft {
    text-shadow: 3px 3px #FF3D7F; }
  .uiColorTurquoise .titleRight {
    text-shadow: -3px 3px #FF3D7F; }
  .uiColorTurquoise .menuItem:hover {
    background: #3FB8AF;
    color: #1E1E1E; }
  .uiColorTurquoise .dropMenu {
    background-color: #1E1E1E;
    border-left: 10px solid #3FB8AF;
    border-right: 10px solid #3FB8AF;
    border-bottom: 4px solid #3FB8AF; }
  .uiColorTurquoise a {
    color: #3FB8AF; }
  .uiColorTurquoise .linkedinLink:hover > .secondFill {
    fill: #1E1E1E; }
  .uiColorTurquoise .sobreText {
    border: 5px solid #3FB8AF; }
  .uiColorTurquoise .expBox {
    border: 4px solid #3FB8AF; }
  .uiColorTurquoise .expBox:after {
    border-left: 4px #3FB8AF solid;
    border-right: 41px #1E1E1E solid; }
  .uiColorTurquoise .outerCircle {
    fill: #FF3D7F; }
  .uiColorTurquoise .innerCircle {
    fill: #1E1E1E; }
  .uiColorTurquoise .expSvg {
    border: 4px solid #FF3D7F; }
  .uiColorTurquoise .habiInfo {
    border-left: solid 5px #FF3D7F;
    border-right: solid 5px #FF3D7F; }
    .uiColorTurquoise .habiInfo:before {
      border-top: solid 7.0711px #FF3D7F;
      border-right: solid 7.0711px #FF3D7F; }
    .uiColorTurquoise .habiInfo:after {
      border-bottom: solid 7.0711px #FF3D7F;
      border-left: solid 7.0711px #FF3D7F; }
  .uiColorTurquoise .portBox {
    background: #3FB8AF;
    box-shadow: 8px 8px 0 #FF3D7F; }
  .uiColorTurquoise .portBox::before {
    background-color: #1E1E1E; }
  .uiColorTurquoise .portBox::after {
    border-left: 10px #FF3D7F solid;
    border-right: 50px #1E1E1E solid;
    background-color: #1E1E1E; }
  .uiColorTurquoise .portTitle {
    color: #1E1E1E; }
  .uiColorTurquoise .portText {
    color: #1E1E1E; }
  .uiColorTurquoise .portAcess {
    color: #FF3D7F; }
  .uiColorTurquoise .portAcess:hover {
    color: #3FB8AF;
    background-color: #FF3D7F; }
  .uiColorTurquoise .portLink:hover > .secondStroke {
    fill: #3FB8AF;
    stroke: #3FB8AF; }
  .uiColorTurquoise .portLink:hover > .secondFill {
    fill: #1E1E1E; }
  .uiColorTurquoise .portSvg:first-child {
    border-right: 5px solid #FF3D7F; }
  @media screen and (max-width: 950px) {
    .uiColorTurquoise .menuItem {
      background-color: #1E1E1E;
      box-shadow: 0px -3px 0 #FF3D7F; }
    .uiColorTurquoise .navColor {
      border-top: 5px solid #3FB8AF;
      border-right: none;
      border-left: none; } }

.uiColorBlue {
  background-color: #343838;
  border-left: 10px solid #00B4CC;
  border-right: 10px solid #00B4CC;
  /*  Sobre */
  /*  Experiência */
  /*  Habilidades */
  /*  Portfolio */ }
  .uiColorBlue:before {
    background: #00B4CC; }
  .uiColorBlue:after {
    background: #00B4CC; }
  .uiColorBlue::-webkit-scrollbar-track {
    background: #343838; }
  .uiColorBlue::-webkit-scrollbar-thumb {
    background: #005F6B; }
  .uiColorBlue .navColor {
    border: 5px solid #00B4CC; }
  .uiColorBlue .navColor2 {
    border: 5px solid #005F6B; }
  .uiColorBlue .mainFill {
    fill: #343838; }
  .uiColorBlue .secondFill {
    fill: #00B4CC; }
  .uiColorBlue .thirdFill {
    fill: #005F6B; }
  .uiColorBlue .expOpacity {
    opacity: 0.8;
    fill: #00B4CC; }
  .uiColorBlue .secondStroke {
    stroke: #00B4CC; }
  .uiColorBlue .secondStrokeIcon {
    fill: #343838;
    stroke: #00B4CC; }
  .uiColorBlue .thirdStroke {
    stroke: #005F6B; }
  .uiColorBlue .fontColor {
    color: #00B4CC; }
  .uiColorBlue .spanColor {
    color: #005F6B; }
  .uiColorBlue .paletteNav {
    border: 3px solid #00B4CC; }
    .uiColorBlue .paletteNav:before {
      border-right: 3px #00B4CC solid;
      border-left: 21px #343838 solid; }
    .uiColorBlue .paletteNav:after {
      border-left: 3px #00B4CC solid;
      border-right: 21px #343838 solid; }
  .uiColorBlue ::selection {
    background: #005F6B;
    /* WebKit/Blink Browsers */
    color: #343838; }
  .uiColorBlue ::-moz-selection {
    background: #005F6B;
    /* Gecko Browsers */
    color: #343838; }
  .uiColorBlue .titleLeft {
    text-shadow: 3px 3px #005F6B; }
  .uiColorBlue .titleRight {
    text-shadow: -3px 3px #005F6B; }
  .uiColorBlue .menuItem:hover {
    background: #00B4CC;
    color: #343838; }
  .uiColorBlue .dropMenu {
    background-color: #343838;
    border-left: 10px solid #00B4CC;
    border-right: 10px solid #00B4CC;
    border-bottom: 4px solid #00B4CC; }
  .uiColorBlue a {
    color: #00B4CC; }
  .uiColorBlue .linkedinLink:hover > .secondFill {
    fill: #343838; }
  .uiColorBlue .sobreText {
    border: 5px solid #00B4CC; }
  .uiColorBlue .expBox {
    border: 4px solid #00B4CC; }
  .uiColorBlue .expBox:after {
    border-left: 4px #00B4CC solid;
    border-right: 41px #343838 solid; }
  .uiColorBlue .outerCircle {
    fill: #005F6B; }
  .uiColorBlue .innerCircle {
    fill: #343838; }
  .uiColorBlue .expSvg {
    border: 4px solid #005F6B; }
  .uiColorBlue .habiInfo {
    border-left: solid 5px #005F6B;
    border-right: solid 5px #005F6B; }
    .uiColorBlue .habiInfo:before {
      border-top: solid 7.0711px #005F6B;
      border-right: solid 7.0711px #005F6B; }
    .uiColorBlue .habiInfo:after {
      border-bottom: solid 7.0711px #005F6B;
      border-left: solid 7.0711px #005F6B; }
  .uiColorBlue .portBox {
    background: #00B4CC;
    box-shadow: 8px 8px 0 #005F6B; }
  .uiColorBlue .portBox::before {
    background-color: #343838; }
  .uiColorBlue .portBox::after {
    border-left: 10px #005F6B solid;
    border-right: 50px #343838 solid;
    background-color: #343838; }
  .uiColorBlue .portTitle {
    color: #343838; }
  .uiColorBlue .portText {
    color: #343838; }
  .uiColorBlue .portAcess {
    color: #005F6B; }
  .uiColorBlue .portAcess:hover {
    color: #00B4CC;
    background-color: #005F6B; }
  .uiColorBlue .portLink:hover > .secondStroke {
    fill: #00B4CC;
    stroke: #00B4CC; }
  .uiColorBlue .portLink:hover > .secondFill {
    fill: #343838; }
  .uiColorBlue .portSvg:first-child {
    border-right: 5px solid #005F6B; }
  @media screen and (max-width: 950px) {
    .uiColorBlue .menuItem {
      background-color: #343838;
      box-shadow: 0px -3px 0 #005F6B; }
    .uiColorBlue .navColor {
      border-top: 5px solid #00B4CC;
      border-right: none;
      border-left: none; } }

/*  palettes */
/* palette Menu */
.paletteNav {
  width: 136px;
  margin: 10px auto 0px auto;
  left: 0;
  right: 0;
  border: 3px solid #111111;
  position: absolute;
  background-color: #FFFFFF;
  padding: 5px;
  display: none; }

.paletteNav::before {
  content: "";
  position: absolute;
  height: 20px;
  top: -12.2px;
  left: -14px;
  border-right: 3px #111111 solid;
  border-left: 21px #FFFFFF solid;
  transform: rotate(45deg); }

.paletteNav::after {
  content: "";
  position: absolute;
  height: 20px;
  bottom: -12.4px;
  right: -14px;
  border-left: 3px #111111 solid;
  border-right: 21px #FFFFFF solid;
  transform: rotate(45deg); }

.paletteSwitch {
  width: 30px;
  float: left;
  padding: 2px; }

/* palette Menu*/
/*  SITE BORDER */
html {
  overflow-x: hidden; }

body::before, body::after {
  content: "";
  z-index: 999;
  position: fixed;
  background: #111111;
  left: 0;
  right: 0;
  height: 10px; }

body::before {
  top: 0; }

body::after {
  bottom: 0; }

body {
  font-size: 62.5%;
  background-color: #FFFFFF;
  border-left: 10px solid #111111;
  border-right: 10px solid #111111;
  margin: 0px;
  padding-bottom: 50px;
  overflow-x: hidden; }
  body::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    /* for vertical scrollbars */
    height: 10px;
    /* for horizontal scrollbars */ }
  body::-webkit-scrollbar-track {
    background: #FFFFFF; }
  body::-webkit-scrollbar-thumb {
    background: #FFDC00; }

/* OVERALL */
.container {
  margin: 0px auto;
  max-width: 1024px;
  padding-top: 15px; }
  .container:after {
    content: "";
    display: block;
    clear: both; }

::selection {
  background: #FFDC00;
  /* WebKit/Blink Browsers */
  color: #FFFFFF; }

::-moz-selection {
  background: #FFDC00;
  /* Gecko Browsers */
  color: #FFFFFF; }

.titleLeft {
  font-family: Montserrat;
  text-shadow: 3px 3px #FFDC00;
  margin: 50px 0px 30px 15px;
  font-size: 4.8em;
  text-align: left; }

.titleRight {
  font-family: Montserrat;
  text-shadow: -3px 3px #FFDC00;
  margin: 50px 10px 30px 0px;
  font-size: 4.8em;
  text-align: right; }

/*  HEADER */
ul {
  list-style-type: none;
  margin: 0 auto;
  width: 805px; }

ul li {
  float: left;
  margin: 50px 16px 0px 16px; }

.dropMenu ul li:nth-child(4) span {
  letter-spacing: 4px; }

.dropMenu ul li:nth-child(5) span {
  letter-spacing: 4px; }

.dropMenu ul li:nth-child(4) {
  margin-left: 80px; }

.dropMenu ul {
  margin: 0 auto;
  text-align: center; }

.dropMenu ul li {
  display: inline-block;
  margin: 50px 18px 0px 14px; }

.dropMenu ul li .logo {
  position: absolute;
  width: 70px;
  margin-top: -28px; }

.menuItem {
  position: relative;
  padding: 5px 15px;
  font-family: Montserrat;
  font-size: 16px;
  background: transparent;
  z-index: 9; }

.menuItem:hover {
  background: #111111;
  color: #FFFFFF; }

.dropMenu {
  position: fixed;
  background-color: #FFFFFF;
  z-index: 99;
  padding-top: 10px;
  padding-bottom: 2px;
  border-left: 10px solid #111111;
  border-right: 10px solid #111111;
  border-bottom: 4px solid #111111;
  left: 0;
  width: 100%;
  transition: 0.5s ease-in-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.navUp {
  -ms-transform: translateY(-92px);
  /* IE 9 */
  -webkit-transform: translateY(-92px);
  /* Chrome, Safari, Opera */
  transform: translateY(-92px);
  -webkit-backface-visibility: hidden; }

.navDown {
  -ms-transform: translateY(0px);
  /* IE 9 */
  -webkit-transform: translateY(0px);
  /* Chrome, Safari, Opera */
  transform: translateY(0px);
  -webkit-backface-visibility: hidden; }

a {
  color: #111111;
  text-decoration: none; }

.navIcon {
  display: none; }

a .logo {
  cursor: pointer;
  cursor: hand; }

.logo {
  margin-top: -40px;
  width: 100px; }

a .logo:hover > .secondFill {
  -webkit-animation: pulsate 2s ease-out;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite; }

.navShadow {
  margin-top: 44px;
  position: absolute; }

.navShadow:nth-child(1) {
  margin-left: 21px;
  padding: 15px 43px; }

.navShadow:nth-child(2) {
  margin-left: 149px;
  padding: 15px 71px; }

.navShadow:nth-child(3) {
  margin-left: 456px;
  padding: 15px 71px; }

.navShadow:nth-child(4) {
  margin-left: 639px;
  padding: 15px 63px; }

/*  CONTENT */
/*  Sobre */
.foto {
  width: 170px;
  margin-top: 40px; }

.fotoOverflow {
  overflow: visible; }

.linkedin {
  width: 40px;
  margin: -25px 0px 0px 120px; }

.linkedinLink:hover > .secondStroke {
  fill: #0077b5;
  stroke: #0077b5; }

.linkedinLink:hover > .secondFill {
  fill: #FFFFFF; }

.sobreInfo {
  display: inline-block;
  float: left;
  width: 175px; }

.myName {
  font-family: Montserrat;
  font-size: 3em;
  margin-top: 5px;
  text-align: center; }

.sobreTitle {
  margin: 0px 0px 0px 30px;
  display: inline-block; }

.sobreText {
  width: 70%;
  margin-left: 50px;
  font-size: 1.5em;
  font-family: Roboto;
  border: 5px solid #111111;
  padding: 20px;
  float: left; }

/*  Experiência */
.expBox {
  border: 4px solid #111111;
  display: inline-block;
  padding: 0px 0px 5px 10px;
  position: relative;
  margin: 10px; }

.expBox:after {
  content: "";
  position: absolute;
  height: 80px;
  bottom: -29px;
  right: -11px;
  border-left: 4px #111111 solid;
  border-right: 41px #FFFFFF solid;
  transform: rotate(45deg); }

.expText {
  display: inline-block;
  font-size: 1.6em;
  font-family: Roboto; }

.circle {
  height: 60px;
  float: right;
  padding: 3px 12px 12px 12px; }

.outerCircle {
  fill: #FFDC00; }

.innerCircle {
  fill: #FFFFFF; }

.expSvg {
  display: block;
  height: 50px;
  border: 4px solid #FFDC00;
  margin-right: 60px;
  padding-top: 10px; }

/*  Habilidades */
.habiAlign {
  text-align: center; }

.habiTitle {
  font-family: Roboto;
  font-size: 1.6em;
  margin: 23px 0px 0px 97px;
  text-align: center;
  position: absolute;
  -webkit-transform: rotate(30deg);
  /* Firefox */
  -moz-transform: rotate(30deg);
  /* IE */
  -ms-transform: rotate(30deg);
  /* Opera */
  -o-transform: rotate(30deg); }

.habiBox {
  width: 180px;
  display: inline-block;
  margin-top: 20px; }

.habiSvg {
  width: 160px;
  margin: 20px auto 0px auto;
  display: block; }

.habiInfo {
  position: absolute;
  width: 32px;
  height: 22px;
  margin: -12px 0px 0px 123px;
  border-left: solid 5px #FFDC00;
  border-right: solid 5px #FFDC00; }

.habiInfo::before,
.habiInfo::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 22.63px;
  height: 22.63px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 1px; }

.habiInfo::before {
  top: -14.84px;
  border-top: solid 7.0711px #FFDC00;
  border-right: solid 7.0711px #FFDC00; }

.habiInfo::after {
  bottom: -14.98px;
  border-bottom: solid 7.0711px #FFDC00;
  border-left: solid 7.0711px #FFDC00; }

.habiText {
  font-family: Roboto;
  font-size: 1.6em;
  margin-top: 0.5px;
  text-align: center; }

/*  Portfólio */
.portBox {
  width: 270px;
  background: #111111;
  margin-left: 63px;
  box-shadow: 8px 8px 0 #FFDC00;
  float: left;
  position: relative; }

.portBox::before {
  content: "";
  position: absolute;
  height: 90px;
  width: 45px;
  left: -7px;
  top: -30px;
  background-color: #FFFFFF;
  transform: rotate(45deg); }

.portBox::after {
  content: "";
  position: absolute;
  height: 90px;
  border-left: 10px #FFDC00 solid;
  border-right: 50px #FFFFFF solid;
  background-color: #FFFFFF;
  bottom: -35px;
  right: -20.5px;
  transform: rotate(45deg); }

.portTitle {
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 3em;
  text-align: center;
  margin-top: 35px; }

.portText {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 1.4em;
  margin: 25px auto;
  width: 230px; }

.portAcess {
  color: #FFDC00;
  font-family: Montserrat;
  font-size: 2.5em;
  width: auto;
  height: 52px;
  padding: 10px 0px 0px 40px;
  margin-bottom: 0px; }

.portAcess:hover {
  color: #111111;
  background-color: #FFDC00; }

.otherPort {
  display: inline-block;
  text-align: right;
  margin-top: 50px; }

.portSvg:first-child {
  padding-right: 25px;
  border-right: 5px solid #FFDC00; }

.portSvg {
  width: 20%;
  margin: 40px 10px 0px 10px; }

.portLink:hover > .secondStroke {
  fill: #111111;
  stroke: #111111; }

.portLink:hover > .secondFill {
  fill: #FFFFFF; }

/* Firefox margins fix */
@-moz-document url-prefix() {
  .navShadow {
    margin-top: 45px; }
  .navSob {
    margin-left: 21px; }
  .navExp {
    margin-left: 150px; }
  .navHab {
    margin-left: 458px; }
  .navPor {
    margin-left: 642px; }
  .panaSvg {
    margin-bottom: -4px; }
  .anheSvg {
    margin-bottom: -4px; }
  .meliesSvg {
    margin-top: -1px; }
  .senac {
    height: 118px; }
  .senacSvg {
    margin-top: -3px; } }

/* Mobile */
@media screen and (max-width: 950px) {
  html, body {
    padding: 0; }
  .titleLeft {
    font-size: 3.8em; }
  .titleRight {
    font-size: 3.8em; }
  .container:first-child {
    padding-top: 0px; }
  /* Header */
  .dropMenu {
    display: none; }
  .paletteNav {
    margin: -120px auto 0px auto;
    width: 219px; }
    .paletteNav:before {
      content: none; }
    .paletteNav:after {
      content: none; }
  .paletteSwitch {
    width: 50px; }
  .navShadowUl {
    display: none; }
  ul {
    position: fixed;
    bottom: 0;
    left: 0px;
    z-index: 9999;
    margin: 0px;
    width: 100%;
    padding: 0px; }
  ul li {
    text-align: center;
    width: 25%;
    /* fallback for non-calc() browsers */
    width: calc(100% / 4);
    margin: 0px; }
  .menuItem {
    display: block;
    background-color: #FFFFFF;
    box-shadow: 0px -5px 0 #FFDC00; }
  .menuItem:hover .secondFill {
    fill: #FFFFFF; }
  .navLetter {
    display: none; }
  .navColor {
    border-top: 5px solid #111111;
    border-right: none;
    border-left: none; }
  .iconSvg {
    width: 70px;
    margin-top: 5px; }
  .navIcon {
    display: block; }
  .logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    max-width: 105px;
    min-width: 65px;
    left: 0;
    right: 0;
    z-index: 999999; }
  .navShadow {
    display: none; }
  /* Sobre */
  .sobreInfo {
    float: none;
    display: block;
    margin: 0 auto; }
  .sobreText {
    float: none;
    margin: 0 auto; }
  /* Experiência */
  .expSvg {
    display: none; }
  .circle {
    float: none; }
  /* Habilidades */
  .portBox {
    float: none;
    width: 85%;
    padding-top: 10px;
    margin: 45px auto 0px auto;
    position: relative; }
  .portTitle {
    text-align: left;
    margin-top: 35px;
    margin-left: 30px; }
  .portText {
    width: 90%;
    text-align: left;
    margin: 0px 0px 0px 20px; }
  .portSvg {
    margin: 0px 10px 160px 10px; } }

@media screen and (max-width: 620px) {
  /* Header */ }

@media screen and (max-width: 480px) {
  /* Header */
  /* Experiência */
  /* Habilidades */ }
