@import 'https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:500';
body:before, body:after {
  content: "";
  position: fixed;
  background: black;
  left: 0;
  right: 0;
  height: 10px; }

body:before {
  top: 0; }

body:after {
  bottom: 0; }

body {
  background-color: #F4F4F4;
  border-left: 10px solid black;
  border-right: 10px solid black;
  margin: 0px; }

.container {
  margin: 0px auto;
  width: 90%;
  max-width: 1024px;
  height: auto;
  padding-top: 60px; }

#header {
  padding: 0;
  height: 100px;
  width: 100%; }

ul {
  list-style-type: none;
  margin: 0 auto;
  width: 805px;
  padding: 0px; }

li {
  position: relative;
  margin: 50px 1% 0px 1%;
  border: 4px solid black;
  float: left;
  padding: 5px 15px;
  font-family: Montserrat;
  font-size: 16px;
  background: transparent;
  z-index: 999; }

#logo {
  margin: 17px 1% 0px 1%;
  float: left; }

.navShadow {
  z-index: 1;
  border-color: #EFD800;
  position: absolute;
  margin: 52px 0px 0px 0px;
  background: transparent;
  color: transparent; }

#navSob {
  margin-left: 11px; }

#navQua {
  margin-left: 122px; }

#navHab {
  margin-left: 422px; }

#navPor {
  margin-left: 588px; }
