@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:500';
/*  SITE BORDER */
body::before, body::after {
  content: "";
  position: fixed;
  background: black;
  left: 0;
  right: 0;
  height: 10px; }

body::before {
  top: 0; }

body::after {
  bottom: 0; }

body {
  background-color: #F4F4F4;
  border-left: 10px solid black;
  border-right: 10px solid black;
  margin: 0px;
  padding-bottom: 50px; }

/* OVERALL CONTAINER */
.container {
  margin: 0px auto;
  width: 100%;
  max-width: 1024px;
  height: auto;
  padding-top: 30px; }

/*  HEADER */
#header {
  padding: 0;
  height: 130px;
  width: 100%; }

ul {
  list-style-type: none;
  margin: 0 auto;
  width: 805px;
  padding: 0px; }

li {
  position: relative;
  margin: 50px 2.1% 0px 2.6%;
  border: 5px solid black;
  float: left;
  padding: 5px 15px;
  font-family: Montserrat;
  font-size: 16px;
  background: transparent;
  z-index: 999; }

li:hover {
  background: black;
  color: #F4F4F4; }

a {
  color: black; }

#logo {
  margin: 17px 1% 0px 1%;
  float: left; }

#logoColor {
  fill: black; }

.navShadow {
  z-index: 1;
  border-color: #EFD800;
  position: absolute;
  margin: 53px 0px 0px 0px;
  background: transparent;
  color: transparent;
  pointer-events: none; }

#navSob {
  margin-left: 25px; }

#navQua {
  margin-left: 159px; }

#navHab {
  margin-left: 457px; }

#navPor {
  margin-left: 647px; }

/*  CONTENT */
/*  Sobre */
#sobreContent {
  padding-top: 50px;
  height: 300px;
  width: 100%; }

.svgFoto {
  fill: none;
  stroke: #EFD800;
  stroke-width: 5;
  stroke-miterlimit: 10; }

#fotoBorder {
  fill: none;
  stroke: black;
  stroke-width: 5;
  overflow: visible; }

.foto {
  float: left;
  width: 170px;
  margin-top: 40px; }

.svgLinkedin {
  fill: none;
  stroke: black;
  stroke-width: 15px;
  stroke-miterlimit: 10; }

.in {
  fill: black; }

.linkedin {
  width: 40px;
  margin: 200px 0px 0px -30px;
  position: absolute; }

@-moz-document url-prefix() {
  .linkedin {
    width: 40px;
    margin: 200px 0px 0px -231px;
    position: absolute; } }

.linkedin:hover > .svgLinkedin {
  fill: #0077b5;
  stroke: none; }

.linkedin:hover .in {
  fill: #F4F4F4; }

.titleLeft {
  font-family: Montserrat;
  text-shadow: 2px 2px #EFD800;
  font-size: 3em;
  float: left;
  color: black; }

#sobreTitle {
  margin: 0px 0px 0px 30px; }

#sobreText {
  float: left;
  color: black;
  width: 754px;
  margin-left: 50px;
  font-size: 0.9em;
  font-family: Roboto;
  border: 5px solid black;
  padding: 20px; }

/*  Experiência */
.titleRight {
  font-family: Montserrat;
  text-shadow: -2px 2px #EFD800;
  font-size: 3em;
  float: right;
  color: black; }

.info {
  height: 300px; }

#upInfo {
  border-bottom: 2px solid black;
  height: 300px; }

#downInfo {
  border-top: 2px solid black;
  height: 200px; }

#pana {
  margin-left: 50px;
  float: left;
  margin-top: 214px;
  position: absolute;
  height: 90px;
  width: 463px;
  border-left: 4px solid black; }

#panaSvg {
  height: 50px;
  position: absolute;
  bottom: 4px; }

.infoColor {
  fill: #EFD800; }

.infoColor2 {
  opacity: 0.7;
  fill: black; }

/*  Habilidades */
#habiContent {
  height: 500px;
  width: 100%; }

/*  Portfólio */
#portContent {
  height: 500px;
  width: 100%; }

.portBox {
  width: 260px;
  height: 320px;
  background: black;
  position: relative;
  margin: 150px 0px 0px 63px;
  box-shadow: 8px 8px 0 #EFD800;
  float: left;
  position: relative; }

.portBox::before {
  content: "";
  position: absolute;
  height: 90px;
  width: 90px;
  left: -46px;
  top: -46px;
  background-color: #F4F4F4;
  transform: rotate(45deg); }

.portBox::after {
  content: "";
  position: absolute;
  height: 90px;
  border-left: 10px #EFD800 solid;
  border-right: 50px #F4F4F4 solid;
  background-color: #F4F4F4;
  bottom: -35px;
  right: -20.5px;
  transform: rotate(45deg); }

.portTitle {
  color: #F4F4F4;
  font-family: Montserrat;
  text-align: center;
  margin-top: 35px; }

.portText {
  color: #F4F4F4;
  font-family: Roboto;
  font-size: 0.8em;
  margin: 0 auto;
  width: 199px; }

.plusButton {
  width: 25px;
  margin: 20px 0px 0px 115px;
  position: absolute; }

.plusColor {
  fill: none;
  stroke: #EFD800;
  stroke-width: 5px; }

.plusColor2 {
  fill: #EFD800; }

.plusButton:hover .plusColor2 {
  fill: black; }

.plusButton:hover .plusColor {
  fill: #EFD800; }
