
@import 'https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:500';


$Title-font: Montserrat;
$Text-font: Roboto;
$main-color: #F4F4F4;
$second-color: black;
$third-color: #EFD800;

/*  SITE BORDER */

body::before, body::after {
    content: "";
    z-index: 999;
    position: fixed;
    background: $second-color;
    left: 0;
    right: 0;
    height: 10px;
}
body::before {
    top: 0;
}
body::after {
    bottom: 0;
}

body {
	background-color: $main-color;
	border-left: 10px solid $second-color;
    border-right: 10px solid $second-color;  
    margin:0px;
    padding-bottom: 50px;
}





/* OVERALL CONTAINER */





.container {
	margin: 0px auto;
	width:100%;
	max-width:1024px;
	height:auto;
	padding-top:30px;
}





/*  HEADER */





#header {
	padding:0;
	height: 130px;
	width:100%;
}

ul {
	list-style-type: none;
	margin:0 auto;
	width:805px;
	padding:0px;
}

li {
	position: relative;
	margin:50px 2.1% 0px 2.6%;
	border: 5px solid $second-color;
	float:left;
	padding: 5px 15px;
	font-family: $Title-font;
	font-size: 16px;
	background: transparent;
	z-index:999;
}


li:hover {
	background: $second-color;
	color: $main-color;
}

a {
	color:$second-color;
}


#logo {
	margin:17px 1% 0px 1%;	
	float:left;
}

#logoColor {
	fill:$second-color;
}

.navShadow {
	z-index:1;
	border-color:$third-color;
	position:absolute;
	margin:53px 0px 0px 0px;
	background:  rgba(0, 0, 0, 0.0);
    color: rgba(0, 0, 0, 0.0);
    pointer-events:none;
}

#navSob {
	margin-left: 25px;
}

#navQua {
	margin-left: 159px;
}

#navHab {
	margin-left: 457px;
}

#navPor {
	margin-left: 647px;
}





/*  CONTENT */





/*  Sobre */





#sobreContent {
	padding-top:50px;
	height: 300px;
	width:100%;
}

.svgFoto {
	fill:none;
	stroke:$third-color;
	stroke-width:5;
	stroke-miterlimit:10;
}

#fotoBorder {
	fill: none; 
	stroke: $second-color;
	stroke-width: 5;  
	overflow: visible;
}

.foto {
	float: left;
	width: 170px;
	margin-top:40px;
}

.svgLinkedin{
	fill:none;
	stroke:$second-color;
	stroke-width:15px;
	stroke-miterlimit:10;
}

.in {
	fill: $second-color;
}

.linkedin {
	width: 40px;
	margin: 200px 0px 0px -30px;
	position:absolute;
}

@-moz-document url-prefix() { 
	.linkedin {
		width: 40px;
		margin: 200px 0px 0px -231px;
		position:absolute;
	}

}

.linkedin:hover > .svgLinkedin {
	fill:#0077b5;
	stroke:#0077b5;
}

.linkedin:hover .in {
	fill:$main-color;
}

.titleLeft {
	font-family: $Title-font;
	text-shadow: 2px 2px $third-color;
	font-size: 3em;
	float:left;
	color: $second-color;
}

#sobreTitle {
	margin:0px 0px 0px 30px;
}

#sobreText {
	float:left;
	color: $second-color;
	width:754px;
	margin-left: 50px;
	font-size:0.9em;
	font-family:$Text-font;
	border: 5px solid $second-color;
	padding:20px;
}





/*  Experiência */





.titleRight {
	font-family: $Title-font;
	text-shadow: -2px 2px $third-color;
	font-size: 3em;
	float:right;
 	color: $second-color;
}

.info {
	height:300px;
}

#upInfo {
	border-bottom:2px solid $second-color;
	height:300px;
}

#downInfo {
	border-top:2px solid $second-color;
	height:200px;
}

.infoBox{
	width:180px;
	height:90px;
	border:4px solid $second-color;
	position:absolute;
}

.infoBox::after{
    content: "";
    position: absolute;
    height: 40px;
    border-left: 4px $second-color solid;
    border-right: 21px $main-color solid;
    bottom: -15.8px;
    right: -8.3px;
    transform: rotate(45deg);
}

.infoBox::before{
    content: "";
    position: absolute;
    height: 40px;
    border-right: 4px $second-color solid;
    border-left: 21px $main-color solid;
    top: -15.8px;
    left: -8.4px;
    transform: rotate(45deg);
}

.infoText {
	width: 160px;
	font-family: $Text-font;
	font-size: 0.8em;
	color: $second-color;
	text-align: center;
	margin: 12px auto 0px auto;
}

.dateText {
	font-family: $Text-font;
	font-size: 0.9em;
}

#datePana {
	margin: 5px 0px 0px 5px;
	font-weight: bold;
}

#panaBox {
	margin:120px 0px 0px 20px;
}

#pana {	
    margin-left: 50px;
    float: left;
	margin-top:214px;
    position: absolute;
    height: 90px;
    width: 463px;
    border-left: 4px solid $second-color;
}

#pana::after {
	content: "";
    position: absolute;
    right: 8px;
    bottom: 0px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 3.5px 30px 3.5px;
	border-color: transparent transparent $second-color transparent;
	-webkit-transform:rotate(360deg);
}

#panaSvg {
    height: 50px;
    position: absolute;
    bottom: 4px;
}

#dateMelies {
	margin: 80px 0px 0px 5px;
	font-weight: bold;
}


#meliesBox {
	margin:100px 0px 0px 200px;
	height:100px;
}


#melies {
	margin-left: 250px;
    float: left;
    position: absolute;
    height: 100px;
    width: 140px;
    border-left: 4px solid $second-color;
}

#melies::after {
	content: "";
    position: absolute;
    right: 0px;
    top: -1px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 3.5px 0px 3.5px;
	border-color: $second-color transparent transparent transparent;
	-webkit-transform:rotate(360deg);
}

#meliesSvg {
    height: 78px;
    position: absolute;
    bottom: 22.6px;
}

.infoColor {
	fill: $third-color;
}

.infoColor2{
	opacity: 0.7;
	fill: $second-color;
}





/*  Habilidades */





#habiContent {
	height: 500px;
	width:100%;
}





/*  Portfólio */





#portContent {
	height: 500px;
	width:100%;
}

.portBox {
	width: 260px;
  	height: 320px;
  	background: $second-color;
  	position: relative;
  	margin: 120px 0px 0px 63px;
  	box-shadow: 8px 8px 0 $third-color;
  	float: left;
  	position: relative;
}

.portBox::before {
	content: "";
    position: absolute;
    height: 90px;
    width: 90px;
    left: -46px;
    top: -46px;
    background-color: $main-color;
    transform: rotate(45deg);
}

  .portBox::after {
    content: "";
    position: absolute;
    height: 90px;
    border-left: 10px $third-color solid;
    border-right: 50px $main-color solid;
    background-color: $main-color;
    bottom: -35px;
    right: -20.5px;
    transform: rotate(45deg);
}

.portTitle {
	color: $main-color;
	font-family: $Title-font;
	text-align: center;
	margin-top: 35px;
}

.portText {
	color: $main-color;
	font-family: $Text-font;
	font-size: 0.8em;
	margin: 0 auto;
	width: 199px;
}

.plusButton {
	width: 25px;
	margin: 20px 0px 0px 115px;
	position: absolute;
}

.plusColor {
	fill:none;
	stroke:$third-color;
	stroke-width:5px;
}

.plusColor2 {
	fill:$third-color;
}

.plusButton:hover .plusColor2 {
	fill:$second-color;
}

.plusButton:hover  .plusColor{
	fill:$third-color;
}
