
$Title-font: Montserrat;
$Text-font: Roboto;


/*  palettes */


$main-color: #FFFFFF;
$second-color: #111111;
$third-color: #FFDC00;


/*Mainpalette*/

.paletteColor1 {
	fill: red;
}

.paletteColor2 {
	fill: #3FB8AF;
}

.paletteColor3 {
	fill: #00B4CC;
}

.NavColor {
	border: 5px solid $second-color;
}

.NavColor2{
	border: 5px solid $third-color;
}

.secondFill {
	fill: $second-color;
}

.thirdFill {
	fill: $third-color;
}

.secondStroke {
	fill:none;
	stroke:$second-color;
	stroke-width:5;
	stroke-miterlimit:10;
}

.thirdStroke {
	fill:none;
	stroke:$third-color;
	stroke-width:5;
	stroke-miterlimit:10;
}


.infoOpacity{
	opacity: 0.7;
	fill: $second-color;
}

.fontColor  {
	color: $second-color;
}

@-webkit-keyframes pulsate {
    0% {opacity: 1.0;}
    50% {opacity: 0.5;}
    100% {opacity: 1.0;}
}

@keyframes pulsate {
    0% {opacity: 1.0;}
    50% {opacity: 0.5;}
    100% {opacity: 1.0;}
}

/*Whitepalette*/




.uiColorWhite {


	$main-color: black;
	$second-color: white;
	$third-color: red;

	background-color: $main-color;
	border-left: 10px solid $second-color;
    border-right: 10px solid $second-color; 

    &:before {
		background: $second-color;
	}

	&:after {
		background: $second-color;
	}
	 

	.NavColor {
		border: 5px solid $second-color;
	}

	.NavColor2{
		border: 5px solid $third-color;
	}

	.secondFill {
		fill: $second-color;
	}

	.thirdFill {
		fill: $third-color;
	}

	.secondStroke {
		stroke:$second-color;
	}

	.thirdStroke {
		stroke:$third-color;
	}

	.fontColor  {
		color: $second-color;
	}

	.paletteNav {
		border: 3px solid $second-color;
	}

	.paletteNav::before{
    border-right: 3px $second-color solid;
    border-left: 21px $main-color solid;
	}

	.paletteNav::after{
    border-left: 3px $second-color solid;
    border-right: 21px $main-color solid;
	}

	::selection {
	  background: $third-color; /* WebKit/Blink Browsers */
	  color: $main-color;
	}

	::-moz-selection {
	  background: $third-color; /* Gecko Browsers */
	  color: $main-color;
	}

	::-webkit-scrollbar-track {  
		background: $main-color;
	}

	::-webkit-scrollbar-thumb {
		background: $third-color;
	}

	.titleLeft {
		text-shadow: 2px 2px $third-color;
	}

	.titleRight {
		text-shadow: -2px 2px $third-color;
	}

	.menuItem:hover {
		background: $second-color;
		color: $main-color;
	}

	a {
		color:$second-color;
	}

	.logo:hover > .secondFill {
		stroke:$second-color;
	}

	.linkedinLink:hover > .secondFill {
		fill: $main-color;
	}

	.sobreText {
		border: 5px solid $second-color;
	}

	.upInfo {
		border-color: transparent transparent $second-color transparent;
	}

	.downInfo {
		border-color: $second-color transparent transparent transparent;	
	}

	.infoBox{
	    border: 4px solid $second-color;
	}

	.infoBox::before{
	    border-right: 4px $second-color solid;
	    border-left: 21px $main-color solid;
	}

	.infoBox::after{
	    border-left: 4px $second-color solid;
	    border-right: 21px $main-color solid;
	}

	.upMargin {	
	    border-left: 4px solid $second-color;
	}

	.upMargin::after {
		border-color: transparent transparent $second-color transparent;
	}

	.melies {
	    border-left: 4px solid $second-color;
	}

	.melies::after {
		border-color: $second-color transparent transparent transparent;
	}

	.senac {
    border-left: 4px solid $second-color;
	}

	.senac::after {
	border-color: $second-color transparent transparent transparent;
	}

	.infoOpacity{
		opacity: 0.7;
		fill: $second-color;
	}

	.habiInfo {
	  border-left: solid 5px $third-color;
	  border-right: solid 5px $third-color;
	}

	.habiInfo::before {
	  border-top: solid 7.0711px $third-color;
	  border-right: solid 7.0711px $third-color;
	}

	.habiInfo::after {
	  border-bottom: solid 7.0711px $third-color;
	  border-left: solid 7.0711px $third-color;
	}

	.portBox {
	  	background: $second-color;
	  	box-shadow: 8px 8px 0 $third-color;
	}

	.portBox::before {
	    background-color: $main-color;
	}

	  .portBox::after {
	    border-left: 10px $third-color solid;
	    border-right: 50px $main-color solid;
	    background-color: $main-color;
	}

	.portTitle {
		color: $main-color;
	}

	.portText {
		color: $main-color;
	}

	.portAcess {
		color:$third-color;
	}

	.portAcess:hover {
		color: $second-color;
		background-color:$third-color;
	}

	.portLink:hover > .secondStroke {
		fill:$second-color;
		stroke: $second-color;
	}

	.portLink:hover > .secondFill {
		fill: $main-color;
	}

}

.uiColorTurquoise {


	$main-color: #1E1E1E;
	$second-color: #3FB8AF;
	$third-color: #FF3D7F;

	background-color: $main-color;
	border-left: 10px solid $second-color;
    border-right: 10px solid $second-color; 

    &:before {
		background: $second-color;
	}

	&:after {
		background: $second-color;
	}
	 

	.NavColor {
		border: 5px solid $second-color;
	}

	.NavColor2{
		border: 5px solid $third-color;
	}

	.secondFill {
		fill: $second-color;
	}

	.thirdFill {
		fill: $third-color;
	}

	.secondStroke {
		stroke:$second-color;
	}

	.thirdStroke {
		stroke:$third-color;
	}

	.fontColor  {
		color: $second-color;
	}

	.paletteNav {
		border: 3px solid $second-color;
	}

	.paletteNav::before{
    border-right: 3px $second-color solid;
    border-left: 21px $main-color solid;
	}

	.paletteNav::after{
    border-left: 3px $second-color solid;
    border-right: 21px $main-color solid;
	}

	::selection {
	  background: $third-color; /* WebKit/Blink Browsers */
	  color: $main-color;
	}

	::-moz-selection {
	  background: $third-color; /* Gecko Browsers */
	  color: $main-color;
	}

	::-webkit-scrollbar-track {  
		background: $main-color;
	}

	::-webkit-scrollbar-thumb {
		background: $third-color;
	}

	.titleLeft {
		text-shadow: 2px 2px $third-color;
	}

	.titleRight {
		text-shadow: -2px 2px $third-color;
	}

	.menuItem:hover {
		background: $second-color;
		color: $main-color;
	}

	a {
		color:$second-color;
	}

	.logo:hover > .secondFill {
		stroke:$second-color;
	}

	.linkedinLink:hover > .secondFill {
		fill: $main-color;
	}

	.sobreText {
		border: 5px solid $second-color;
	}

	.upInfo {
		border-color: transparent transparent $second-color transparent;
	}

	.downInfo {
		border-color: $second-color transparent transparent transparent;	
	}

	.infoBox{
	    border: 4px solid $second-color;
	}

	.infoBox::before{
	    border-right: 4px $second-color solid;
	    border-left: 21px $main-color solid;
	}

	.infoBox::after{
	    border-left: 4px $second-color solid;
	    border-right: 21px $main-color solid;
	}

	.upMargin {	
	    border-left: 4px solid $second-color;
	}

	.upMargin::after {
		border-color: transparent transparent $second-color transparent;
	}

	.melies {
	    border-left: 4px solid $second-color;
	}

	.melies::after {
		border-color: $second-color transparent transparent transparent;
	}

	.senac {
    border-left: 4px solid $second-color;
	}

	.senac::after {
	border-color: $second-color transparent transparent transparent;
	}
	

	.infoOpacity{
		opacity: 0.7;
		fill: $second-color;
	}

	.habiInfo {
	  border-left: solid 5px $third-color;
	  border-right: solid 5px $third-color;
	}

	.habiInfo::before {
	  border-top: solid 7.0711px $third-color;
	  border-right: solid 7.0711px $third-color;
	}

	.habiInfo::after {
	  border-bottom: solid 7.0711px $third-color;
	  border-left: solid 7.0711px $third-color;
	}

	.portBox {
	  	background: $second-color;
	  	box-shadow: 8px 8px 0 $third-color;
	}

	.portBox::before {
	    background-color: $main-color;
	}

	  .portBox::after {
	    border-left: 10px $third-color solid;
	    border-right: 50px $main-color solid;
	    background-color: $main-color;
	}

	.portTitle {
		color: $main-color;
	}

	.portText {
		color: $main-color;
	}

	.portAcess {
		color:$third-color;
	}

	.portAcess:hover {
		color: $second-color;
		background-color:$third-color;
	}

	.portLink:hover > .secondStroke {
		fill:$second-color;
		stroke: $second-color;
	}

	.portLink:hover > .secondFill {
		fill: $main-color;
	}

}

.uiColorBlue {


	$main-color: #343838;
	$second-color: #00B4CC;
	$third-color: #005F6B;

	background-color: $main-color;
	border-left: 10px solid $second-color;
    border-right: 10px solid $second-color; 

    &:before {
		background: $second-color;
	}

	&:after {
		background: $second-color;
	}
	 

	.NavColor {
		border: 5px solid $second-color;
	}

	.NavColor2{
		border: 5px solid $third-color;
	}

	.secondFill {
		fill: $second-color;
	}

	.thirdFill {
		fill: $third-color;
	}

	.secondStroke {
		stroke:$second-color;
	}

	.thirdStroke {
		stroke:$third-color;
	}

	.fontColor  {
		color: $second-color;
	}

	.paletteNav {
		border: 3px solid $second-color;
	}

	.paletteNav::before{
    border-right: 3px $second-color solid;
    border-left: 21px $main-color solid;
	}

	.paletteNav::after{
    border-left: 3px $second-color solid;
    border-right: 21px $main-color solid;
	}

	::selection {
	  background: $third-color; /* WebKit/Blink Browsers */
	  color: $main-color;
	}

	::-moz-selection {
	  background: $third-color; /* Gecko Browsers */
	  color: $main-color;
	}

	::-webkit-scrollbar-track {  
		background: $main-color;
	}

	::-webkit-scrollbar-thumb {
		background: $third-color;
	}

	.titleLeft {
		text-shadow: 2px 2px $third-color;
	}

	.titleRight {
		text-shadow: -2px 2px $third-color;
	}

	.menuItem:hover {
		background: $second-color;
		color: $main-color;
	}

	a {
		color:$second-color;
	}

	.logo:hover > .secondFill {
		stroke:$second-color;
	}

	.linkedinLink:hover > .secondFill {
		fill: $main-color;
	}

	.sobreText {
		border: 5px solid $second-color;
	}

	.upInfo {
		border-color: transparent transparent $second-color transparent;
	}

	.downInfo {
		border-color: $second-color transparent transparent transparent;	
	}

	.infoBox{
	    border: 4px solid $second-color;
	}

	.infoBox::before{
	    border-right: 4px $second-color solid;
	    border-left: 21px $main-color solid;
	}

	.infoBox::after{
	    border-left: 4px $second-color solid;
	    border-right: 21px $main-color solid;
	}

	.upMargin {	
	    border-left: 4px solid $second-color;
	}

	.upMargin::after {
		border-color: transparent transparent $second-color transparent;
	}

	.melies {
	    border-left: 4px solid $second-color;
	}

	.melies::after {
		border-color: $second-color transparent transparent transparent;
	}
	
	.senac {
    border-left: 4px solid $second-color;
	}

	.senac::after {
	border-color: $second-color transparent transparent transparent;
	}
	

	.infoOpacity{
		opacity: 0.7;
		fill: $second-color;
	}

	.habiInfo {
	  border-left: solid 5px $third-color;
	  border-right: solid 5px $third-color;
	}

	.habiInfo::before {
	  border-top: solid 7.0711px $third-color;
	  border-right: solid 7.0711px $third-color;
	}

	.habiInfo::after {
	  border-bottom: solid 7.0711px $third-color;
	  border-left: solid 7.0711px $third-color;
	}

	.portBox {
	  	background: $second-color;
	  	box-shadow: 8px 8px 0 $third-color;
	}

	.portBox::before {
	    background-color: $main-color;
	}

	  .portBox::after {
	    border-left: 10px $third-color solid;
	    border-right: 50px $main-color solid;
	    background-color: $main-color;
	}

	.portTitle {
		color: $main-color;
	}

	.portText {
		color: $main-color;
	}

	.portAcess {
		color:$third-color;
	}

	.portAcess:hover {
		color: $second-color;
		background-color:$third-color;
	}

	.portLink:hover > .secondStroke {
		fill:$second-color;
		stroke: $second-color;
	}

	.portLink:hover > .secondFill {
		fill: $main-color;
	}

}

/*  palettes */


/* palette Menu */

.paletteNav {
	width:140px;
	margin: 10px auto 0px auto;
	left:0;
	right:0;
	border: 3px solid $second-color;
	position:absolute;
	background-color: $main-color;
	padding: 5px;
}

.paletteNav::before{
    content: "";
    position: absolute;
    height: 20px;
    top:-12.2px;
    left:-14px;
    border-right: 3px $second-color solid;
    border-left: 21px $main-color solid;
    transform: rotate(45deg);
}

.paletteNav::after{
    content: "";
    position: absolute;
    height: 20px;
    bottom:-12.4px;
    right:-14px;
    border-left: 3px $second-color solid;
    border-right: 21px $main-color solid;
    transform: rotate(45deg);
}

.paletteSwitch {
	width:30px;
	float: left;
	padding: 2px;
}

/* palette Menu*/





/*  SITE BORDER */

body::before, body::after {
    content: "";
    z-index: 999;
    position: fixed;
    background: $second-color;
    left: 0;
    right: 0;
    height: 10px;
}

body::before {
    top: 0;
}
body::after {
    bottom: 0;
}

body {
    font-size: 62.5%;
	background-color: $main-color;
	border-left: 10px solid $second-color;
    border-right: 10px solid $second-color;  
    margin:0px;
    padding-bottom: 50px;
}


/* OVERALL */


.container {
	margin: 0px auto;
	width:100%;
	max-width:1024px;
	padding-top:15px;
	overflow: auto;
  	zoom: 1;
}

::selection {
  background: $third-color; /* WebKit/Blink Browsers */
  color: $main-color;
}

::-moz-selection {
  background: $third-color; /* Gecko Browsers */
  color: $main-color;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 10px;    /* for vertical scrollbars */
	height: 10px;    /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {  
	background: $main-color;
}

::-webkit-scrollbar-thumb {
	background: $third-color;
}

.titleLeft {
	font-family: $Title-font;
	text-shadow: 2px 2px $third-color;
	font-size: 4.8em;
    text-align: left;
}

.titleRight {
	font-family: $Title-font;
	text-shadow: -2px 2px $third-color;
	font-size: 4.8em;
    text-align: right;
}

.noScroll{
	overflow-y: hidden;
	overflow-x:hidden;
}




/*  HEADER */





ul {
	list-style-type: none;
	margin:0 auto;
	width:805px;
}

ul li {
	float:left;
	margin:50px 16px 0px 16px;
}

.menuItem {
	position: relative;
	padding: 5px 15px;
	font-family: $Title-font;
	font-size: 16px;
	background: transparent;
	z-index:999;
}

.menuItem:hover {
	background: $second-color;
	color: $main-color;
}

a {
	color:$second-color;
	text-decoration:none; 
}


.logo {
	margin-top:-40px;	
}

.logo:hover > .secondFill {
	-webkit-animation: pulsate 2s ease-out;
	animation: pulsate 2s ease-out;
	animation-iteration-count:infinite;
}

.navShadow {
	margin-top: 42px;
	position:absolute;
}

.navSob {
	margin-left: 20px;
	padding: 15px 43px;
}

.navExp {
	margin-left: 149px;
	padding: 15px 71px;
}

.navHab {
	margin-left: 456px;
	padding: 15px 71px;
}

.navPor {
	margin-left: 640px;
	padding: 15px 63px;
}





/*  CONTENT */





/*  Sobre */






.foto {
	width: 170px;
	margin-top:40px;
}

.fotoOverflow {
	overflow: visible;
}

.linkedin {
	width: 40px;
	margin: -25px 0px 0px 120px;
}

.linkedinLink:hover > .secondStroke {
	fill:#0077b5;
	stroke:#0077b5;
}

.linkedinLink:hover > .secondFill {
	fill: $main-color;
}

.sobreInfo {
	display:inline-block;
	float:left;
	width:17.08984375%;
}

.myName {
	font-family: $Title-font;
	font-size:3em;
	margin-top: 5px;
	text-align:center;
}

.sobreTitle {
	margin:0px 0px 0px 30px;
	display: inline-block;
}

.sobreText {
	width:70%;
	margin-left: 50px;
	font-size:1.4em;
	font-family:$Text-font;
	border: 5px solid $second-color;
	padding:20px;
	float:left;
}






/*  Experiência */






.upInfo {
	border-style: solid;
	border-width: 0 6px 3px 6px;
	border-color: transparent transparent $second-color transparent;
	margin: 0px auto 0px auto;
}

.downInfo {
	border-style: solid;
	border-width: 3px 6px 0px 6px;
	border-color: $second-color transparent transparent transparent;	
	margin: 0px auto;
}

.infoContainer {
	display: inline-block;
}

.infoBox{
	display:inline-block;
	position: relative;
    border: 4px solid $second-color;
}

.infoBox::before{
    content: "";
    position: absolute;
    height: 40px;
    top:-16px;
    left:-8px;
    border-right: 4px $second-color solid;
    border-left: 21px $main-color solid;
    transform: rotate(45deg);
}

.infoBox::after{
    content: "";
    position: absolute;
    height: 40px;
    bottom:-15.4px;
    right:-8px;
    border-left: 4px $second-color solid;
    border-right: 21px $main-color solid;
    transform: rotate(45deg);
}

.infoText {
	width: 150px;
	font-family: $Text-font;
	font-size: 1.4em;
	text-align: center;
	padding:15px;
	margin: 0px auto 0px auto;
}

.dateUp {
	font-family: $Text-font;
    font-size: 1.4em;
    margin: 0px 0px 0px 5px;
    font-weight: bold;
}

.dateDown {
	font-family: $Text-font;
	font-size: 1.4em;
	margin: 0px 0px 0px 5px;
	font-weight: bold;
}

.upMargin {	
    margin-left: 50px;
    position: relative;
    border-left: 4px solid $second-color;
}

.upMargin::after {
	content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 3.5px 30px 3.5px;
	border-color: transparent transparent $second-color transparent;
	-webkit-transform:rotate(360deg);
}

.panaSvg {
    height: 50px;
    margin-bottom: -2px;
}

.anheSvg {
    height: 30px;
    margin-bottom: -2px;
}

.meliesBox {
	margin-left:200px;
}

.melies {
	margin-left: 250px;
	position: relative;
    border-left: 4px solid $second-color;
}

.melies::after {
	content: "";
    position: absolute;
    right: 0px;
    top: -2px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 3.5px 0px 3.5px;
	border-color: $second-color transparent transparent transparent;
	-webkit-transform:rotate(360deg);
}

.meliesSvg {
    height: 78px;
    margin-top: -2px;
}

.senacBox {
	margin-left:250px;
}

.senacDate {
	margin-top:17px;
}

.senac {
	margin-left: 370px;
	height: 116px;
	position: relative;
    border-left: 4px solid $second-color;
}

.senac::after {
	content: "";
    position: absolute;
    right: 0px;
    top: -1px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 3.5px 0px 3.5px;
	border-color: $second-color transparent transparent transparent;
	-webkit-transform:rotate(360deg);
}

.senacSvg {
    height: 80px;
    margin-top: -3px; 
}





/*  Habilidades */





.habiAlign{
	text-align:center;
}

.habiTitle {
	font-family: $Text-font;
	font-size:1.6em;
	margin: 23px 0px 0px 97px;
	text-align: center;
	position: absolute;
	-webkit-transform: rotate(30deg);
	/* Firefox */
	-moz-transform: rotate(30deg);
	/* IE */
	-ms-transform: rotate(30deg);
	/* Opera */
	-o-transform: rotate(30deg);
}

.habiBox {
	width:180px;
	display: inline-block;
	margin-top: 20px;
}

.habiSvg {
	width:160px;
	margin: 20px auto 0px auto;
	display: block;
}

.habiInfo {
  position: absolute;
  width: 32px; 
  height: 22px;
  margin: -12px 0px 0px 123px;
  border-left: solid 5px $third-color;
  border-right: solid 5px $third-color;
}

.habiInfo::before,
.habiInfo::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 22.63px;
  height: 22.63px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 1px;
}

.habiInfo::before {
  top: -14.84px;
  border-top: solid 7.0711px $third-color;
  border-right: solid 7.0711px $third-color;
}

.habiInfo::after {
  bottom: -14.98px;
  border-bottom: solid 7.0711px $third-color;
  border-left: solid 7.0711px $third-color;
}

.habiText {
	font-family: $Text-font;
	font-size:1.6em;
	margin-top: 0.5px;
	text-align: center;
}






/*  Portfólio */






.portBox {
	width: 260px;
  	background: $second-color;
  	margin-left: 63px;
  	box-shadow: 8px 8px 0 $third-color;
  	float: left;
  	position: relative;
}

.portBox::before {
	content: "";
    position: absolute;
    height: 90px;
    width: 90px;
    left: -46px;
    top: -46px;
    background-color: $main-color;
    transform: rotate(45deg);
}

  .portBox::after {
    content: "";
    position: absolute;
    height: 90px;
    border-left: 10px $third-color solid;
    border-right: 50px $main-color solid;
    background-color: $main-color;
    bottom: -35px;
    right: -20.5px;
    transform: rotate(45deg);
}

.portTitle {
	color: $main-color;
	font-family: $Title-font;
	font-size:3em;
	text-align: center;
	margin-top: 35px;
}

.portText {
	color: $main-color;
	font-family: $Text-font;
	font-size: 1.2em;
	margin: 0 auto;
	width: 199px;
}

.portAcess {
	color:$third-color;
	font-family: $Title-font;
	font-size:2.5em;
	width: auto;
	height: 52px;
	padding: 10px 0px 0px 40px;
	margin-bottom:0px;
}

.portAcess:hover {
	color: $second-color;
	background-color:$third-color;
}

.portSvg {
	width: 13.671875%;
	margin-left: 150px;
}

.portLink:hover > .secondStroke {
	fill:$second-color;
	stroke: $second-color;
}

.portLink:hover > .secondFill {
	fill: $main-color;
}