
@import 'https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:500';


$Title-font: Montserrat;
$Text-font: Roboto;
$main-color: #FFFFFF;
$second-color: black;
$third-color: #EED912;

/*  SITE BORDER */

body::before, body::after {
    content: "";
    z-index: 999;
    position: fixed;
    background: $second-color;
    left: 0;
    right: 0;
    height: 10px;
}
body::before {
    top: 0;
}
body::after {
    bottom: 0;
}

body {
	background-color: $main-color;
	border-left: 10px solid $second-color;
    border-right: 10px solid $second-color;  
    margin:0px;
    padding-bottom: 50px;
}





/* OVERALL */





.container {
	margin: 0px auto;
	width:100%;
	max-width:1024px;
	height:auto;
	padding-top:30px;
}

::selection {
  background: $third-color; /* WebKit/Blink Browsers */
  color: $main-color;
}

::-moz-selection {
  background: $third-color; /* Gecko Browsers */
  color: $main-color;
}




/*  HEADER */





#header {
	padding:0;
	height: 130px;
	width:100%;
}

ul {
	list-style-type: none;
	margin:0 auto;
	width:805px;
	padding:0px;
}

.menuItem {
	position: relative;
	margin:50px 2.1% 0px 2.6%;
	border: 5px solid $second-color;
	float:left;
	padding: 5px 15px;
	font-family: $Title-font;
	font-size: 16px;
	background: transparent;
	z-index:999;
}


.menuItem:hover {
	background: $second-color;
	color: $main-color;
}

a {
	color:$second-color;
	text-decoration:none; 
}


#logo {
	margin:17px 1% 0px 1%;	
	float:left;
}

#logoColor {
	fill:$second-color;
}

.navShadow {
	position:absolute;
	margin:53px 0px 0px 0px;
	background:  rgba(0, 0, 0, 0.0);
    color: rgba(0, 0, 0, 0.0);
    pointer-events:none;
	border: 5px solid $third-color;
	float:left;
	padding: 5px 15px;
	font-family: $Title-font;
	font-size: 16px;
	background: transparent;
}

#navSob {
	margin-left: 25px;
}

#navQua {
	margin-left: 159px;
}

#navHab {
	margin-left: 457px;
}

#navPor {
	margin-left: 647px;
}





/*  CONTENT */





/*  Sobre */





#sobreContent {
	padding-top:50px;
	height: 300px;
	width:100%;
}

.svgFoto {
	fill:none;
	stroke:$third-color;
	stroke-width:5;
	stroke-miterlimit:10;
}

#fotoBorder {
	fill: none; 
	stroke: $second-color;
	stroke-width: 5;  
	overflow: visible;
}

.foto {
	float: left;
	width: 170px;
	margin-top:40px;
}

#fotoOverflow {
	overflow: visible;
}



.svgLinkedin{
	fill:none;
	stroke:$second-color;
	stroke-width:15px;
	stroke-miterlimit:10;
}

.in {
	fill: $second-color;
}

.linkedin {
	width: 40px;
	margin: 200px 0px 0px -30px;
	position:absolute;
}

@-moz-document url-prefix() { 
	.linkedin {
		width: 40px;
		margin: 200px 0px 0px -30px;
		position:absolute;
	}

}

.linkedinLink:hover > .svgLinkedin {
	fill:#0077b5;
	stroke:#0077b5;
}

.linkedinLink:hover > .in {
	fill:$main-color;
}

.titleLeft {
	font-family: $Title-font;
	text-shadow: 2px 2px $third-color;
	font-size: 3em;
    text-align: left;
	color: $second-color;
}

#sobreTitle {
	margin:0px 0px 0px 30px;
}

#sobreText {
	float:left;
	color: $second-color;
	width:754px;
	margin-left: 50px;
	font-size:0.9em;
	font-family:$Text-font;
	border: 5px solid $second-color;
	padding:20px;
}






/*  Experiência */





.titleRight {
	font-family: $Title-font;
	text-shadow: -2px 2px $third-color;
	font-size: 3em;
    text-align: right;
 	color: $second-color;
}

.info {
	height:300px;
}

#upInfo {
	width:960px;
	border-style: solid;
	border-width: 0 6px 3px 6px;
	border-color: transparent transparent $second-color transparent;
	height:200px;
	margin: 0px auto 0px auto;
}

#downInfo {
	width:960px;
	border-style: solid;
	border-width: 3px 6px 0px 6px;
	border-color: $second-color transparent transparent transparent;	
	height:200px;
	margin: 0px auto;
}

.infoBox{
	width:180px;
	height:90px;
	border:4px solid $second-color;
	position:absolute;
}

.infoBox::after{
    content: "";
    position: absolute;
    height: 40px;
    border-left: 4px $second-color solid;
    border-right: 21px $main-color solid;
    bottom: -15.8px;
    right: -8.3px;
    transform: rotate(45deg);
}

.infoBox::before{
    content: "";
    position: absolute;
    height: 40px;
    border-right: 4px $second-color solid;
    border-left: 21px $main-color solid;
    top: -15.8px;
    left: -8.4px;
    transform: rotate(45deg);
}

.infoText {
	width: 160px;
	font-family: $Text-font;
	font-size: 0.8em;
	color: $second-color;
	text-align: center;
	margin: 12px auto 0px auto;
}

.dateUp {
	font-family: $Text-font;
	font-size: 0.9em;
	color: $second-color;
	margin: 5px 0px 0px 5px;
	font-weight: bold;
}

.dateDown {
	font-family: $Text-font;
	font-size: 0.9em;
	color: $second-color;
	margin: 80px 0px 0px 5px;
	font-weight: bold;
}

#panaBox {
	margin:20px 0px 0px 20px;
}

#pana {	
    margin-left: 50px;
	margin-top:114px;
    position: absolute;
    height: 90px;
    width: 463px;
    border-left: 4px solid $second-color;
}

#pana::after {
	content: "";
    position: absolute;
    right: 8px;
    bottom: 0px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 3.5px 30px 3.5px;
	border-color: transparent transparent $second-color transparent;
	-webkit-transform:rotate(360deg);
}

#panaSvg {
    height: 50px;
    position: absolute;
    bottom: 4px;
}

#anheBox {
	margin:50px 0px 0px 525px;
	height:70px;
}

#anhe {
    margin-left: 550px;
	margin-top:124px;
    position: absolute;
    height: 80px;
    width: 175px;
    border-left: 4px solid $second-color;
}

#anhe::after {
	content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 3.5px 30px 3.5px;
	border-color: transparent transparent $second-color transparent;
	-webkit-transform:rotate(360deg);
}

#anheSvg {
    height: 30px;
    position: absolute;
    bottom: 4px;
}

#meliesBox {
	margin:100px 0px 0px 200px;
	height:100px;
}


#melies {
	margin-left: 250px;
    position: absolute;
    height: 100px;
    width: 140px;
    border-left: 4px solid $second-color;
}

#melies::after {
	content: "";
    position: absolute;
    right: 0px;
    top: -1px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 3.5px 0px 3.5px;
	border-color: $second-color transparent transparent transparent;
	-webkit-transform:rotate(360deg);
}

#meliesSvg {
    height: 78px;
    position: absolute;
    bottom: 23.6px;
}

#senacBox {
	margin:100px 0px 0px 600px;
	height:90px;
}


#senac {
	margin-left: 755px;
    position: absolute;
    height: 100px;
    width: 204px;
    border-left: 4px solid $second-color;
}

#senac::after {
	content: "";
    position: absolute;
    right: 0px;
    top: -1px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 3.5px 0px 3.5px;
	border-color: $second-color transparent transparent transparent;
	-webkit-transform:rotate(360deg);
}


#senacSvg {
    height: 78px;
    position: absolute;
    bottom: 25.6px;
}

.infoColor {
	fill: $third-color;
}

.infoColor2{
	opacity: 0.7;
	fill: $second-color;
}





/*  Habilidades */





#habiContent {
	height: 585px;
	width:100%;
}

.habiTitle {
	font-family: $Text-font;
	font-size:1.1em;
	color: $second-color;
	margin: 23px 0px 0px 97px;
	text-align: center;
	position: absolute;
	-webkit-transform: rotate(30deg);
	/* Firefox */
	-moz-transform: rotate(30deg);
	/* IE */
	-ms-transform: rotate(30deg);
	/* Opera */
	-o-transform: rotate(30deg);
}

.habiBox {
	height:205px;
	width:180px;
	float:left;
	margin-left: 20px;
}

.habiBox2{
	height:225px;
	width:180px;
	float:left;
	margin-top: 20px;
	margin-left: 20px;
}
.habiSvg {
	height:180px;
	width:160px;
	margin: 20px auto 0px auto;
	display: block;
}

.habiColor {
	fill:none;
	stroke:$second-color;
	stroke-width:2px;
}

.habiColor2 {
	fill:$third-color;
}

.habiColor3 {
	fill: $second-color;
}

#secondHabi {
	margin-left: 120px;;
}

.habiInfo {
  position: absolute;
  width: 32px; 
  height: 22px;
  margin: -12px 0px 0px 123px;
  border-left: solid 5px $third-color;
  border-right: solid 5px $third-color;
}

.habiInfo::before,
.habiInfo::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 22.63px;
  height: 22.63px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 1px;
}

.habiInfo::before {
  top: -14.84px;
  border-top: solid 7.0711px $third-color;
  border-right: solid 7.0711px $third-color;
}

.habiInfo::after {
  bottom: -14.98px;
  border-bottom: solid 7.0711px $third-color;
  border-left: solid 7.0711px $third-color;
}

.habiText {
	font-family: $Text-font;
	font-size:1em;
	color: $second-color;
	margin-top: 0.5px;
	text-align: center;
}

/*  Portfólio */





#portContent {
	height: 500px;
	width:100%;
}

.portBox {
	width: 260px;
  	height: 320px;
  	background: $second-color;
  	position: relative;
  	margin-left: 63px;
  	box-shadow: 8px 8px 0 $third-color;
  	float: left;
  	position: relative;
}

.portBox::before {
	content: "";
    position: absolute;
    height: 90px;
    width: 90px;
    left: -46px;
    top: -46px;
    background-color: $main-color;
    transform: rotate(45deg);
}

  .portBox::after {
    content: "";
    position: absolute;
    height: 90px;
    border-left: 10px $third-color solid;
    border-right: 50px $main-color solid;
    background-color: $main-color;
    bottom: -35px;
    right: -20.5px;
    transform: rotate(45deg);
}

.portTitle {
	color: $main-color;
	font-family: $Title-font;
	text-align: center;
	margin-top: 35px;
}

.portText {
	color: $main-color;
	font-family: $Text-font;
	font-size: 0.8em;
	margin: 0 auto;
	width: 199px;
}

.portAcess {
	color:$third-color;
	font-family: $Title-font;
	font-size:1.6em;
	width: auto;
	height: 52px;
	padding: 10px 0px 0px 40px;
}

#cjrn {
	margin-top: 35px;
}

#guaxinim {
	margin-top: 44px;
}

@-moz-document url-prefix() { 
	#cjrn {
		margin-top: 18px;
	}	

	#guaxinim {
		margin-top: 32px;
	}

}

.portAcess:hover {
	color: $second-color;
	background-color:$third-color;
}

.portSvg {
	width: 140px;
	margin-left: 150px;
}

.portColor {
	fill: none;
	stroke: $third-color;
	stroke-width:5;
}

.portColor2 {
	fill:none;
	stroke: $second-color;
	stroke-width:5;
}

.portColor3 {
	fill: $second-color
}

.portLink:hover > .portColor2 {
	fill:$second-color;
	stroke: $second-color;
}

.portLink:hover > .portColor3 {
	fill:$main-color;
}