
@import 'https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:500';


$Title-font: Montserrat;
$Text-font: Roboto;
$main-color: #F4F4F4;
$second-color: black;
$third-color: #EFD800;

/*  SITE BORDER */

body:before, body:after {
    content: "";
    position: fixed;
    background: $second-color;
    left: 0;
    right: 0;
    height: 10px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}

body {
	background-color: $main-color;
	border-left: 10px solid $second-color;
    border-right: 10px solid $second-color;  
    margin:0px;
}

/* OVERALL CONTAINER */

.container {
	margin: 0px auto;
	width:90%;
	max-width:1024px;
	height:auto;
	padding-top:30px;
}

/*  HEADER */

#header {
	padding:0;
	height: 130px;
	width:100%;
}

ul {
	list-style-type: none;
	margin:0 auto;
	width:805px;
	padding:0px;
}

li {
	position: relative;
	margin:50px 2.1% 0px 2.6%;
	border: 5px solid $second-color;
	float:left;
	padding: 5px 15px;
	font-family: $Title-font;
	font-size: 16px;
	background: transparent;
	z-index:999;
}

a {
	color:$second-color;
}

li:hover {
	background: $second-color;
	color: $main-color;
}

#logo {
	margin:17px 1% 0px 1%;	
	float:left;
}

.navShadow {
	z-index:1;
	border-color:$third-color;
	position:absolute;
	margin:53px 0px 0px 0px;
	background:  rgba(0, 0, 0, 0.0);
    color: rgba(0, 0, 0, 0.0);
    pointer-events:none;
}

#navSob {
	margin-left: 25px;
}

#navQua {
	margin-left: 159px;
}

#navHab {
	margin-left: 457px;
}

#navPor {
	margin-left: 647px;
}

/*  CONTENT */

/*  Sobre */

#sobreContent {
	padding-top:50px;
	height: 500px;
	width:100%;
}

.svgFoto {
	fill:none;
	stroke:$third-color;
	stroke-width:5;
	stroke-miterlimit:10;
}

.foto {
	float: left;
	width: 170px;
	margin-top:40px;
}

.svgLinkedin{
	fill:none;
	stroke:#000000;
	stroke-width:15px;
	stroke-miterlimit:10;
}

.linkedin {
	width: 40px;
	margin: 200px 0px 0px -30px;
	position:absolute;
}

@-moz-document url-prefix() { 
	.linkedin {
		width: 40px;
		margin: 200px 0px 0px -231px;
		position:absolute;
	}

}

.linkedin:hover > .svgLinkedin {
	fill:#0077b5;
	stroke:none;
}

.linkedin:hover .in {
	fill:$main-color;
}

.title {
	font-family: $Title-font;
	text-shadow: 2px 2px $third-color;
	font-size: 3em;
}

#sobreTitle {
	margin:0px 0px 0px 30px;
	float:left;
}

p {
	float:left;
	width:754px;
	margin-left: 50px;
	font-size:0.9em;
	font-family:$Text-font;
	border: 5px solid $second-color;
	padding:20px;
}